@charset "utf-8";

$main_color: #00437b;

#wrap {
	position: relative;
	> header {
		position: fixed;
		width: 100%;
		z-index: 100;
		&.on,
		&:hover {
			> .nav_bot {
				background-color: #fff;
				> .nav_bot_wrap {
					> .logo {
						> a {
							background-image: url(./../images/logo.png);
						}
					}
					> .gnb {
						> li {
							> a {
								color: #000;
							}
						}
					}
					> .side {
						> li {
							> a {
								&.search {
									background-image: url(./../images/ico_search.png);
								}
								&.cart {
									background-image: url(./../images/ico_cart.png);
								}
								&.user {
									background-image: url(./../images/ico_my.png);
								}
							}
						}
					} //.side
				}
			}
		} //스크롤 내리고 호버시 ㅇㅇ
		> nav {
			width: 100%;
			&.nav_top {
				background-color: $main_color;
				> .nav_top_wrap {
					display: flex;
					width: 1700px;
					margin: 0 auto;
					> h1 {
						width: 73px;
						margin-right: 20px;
						> a {
							display: block;
							height: 32px;
							text-indent: -9999px;
							background-image: url(./../images/kangol_w.png);
							background-position: center center;
							background-repeat: no-repeat;
						}
						&:nth-child(2) {
							width: 69px;
							padding-left: 20px;
							border-left: 2px solid #fff;

							> a {
								background-image: url(./../images/kangolkids_w.png);
								opacity: 0.4;
							}
						}
					} //h1
				} //.nav_top_wrap
			} //.nav_top
			&.nav_bot {
				position: relative;
				// background-color: brown;
				transition: all .6s;
				height: 100px;
				// border: 1px solid #000;

				> .nav_bot_wrap {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 1700px;

					height: 100%;
					margin: 0 auto;

					> .gnb {
						display: flex;
						height: 100%;
						line-height: 25px;

						> li {
							padding: 0 10px;
							height: 100px;
							&:first-child {
								padding: 0 10px 0 0;
							}
							> a {
								position: relative;
								display: block;
								line-height: 100px;
								color: #fff;
								font-weight: 600;
								font-size: 16px;
								transition: all .6s;
								&:hover:after {
									width: 100%;
								}

								&:after {
									display: block;
									position: absolute;
									top: 50%;
									margin-top: 13px;
									width: 0;
									height: 0;
									border-bottom: 1px solid #000;
									content: '';
									transition: all .6s ease;
								}
							}

							&:hover > .lnb_wrap {
								display: block;
							}

							> .lnb_wrap {
								position: absolute;
								display: none;
								left: 0;
								top: 100px;
								height: 400px;
								width: 100%;
								background-color: #fff;

								> .pic {
									position: absolute;
									left: 60%;
									> img {
										display: block;
									}
								}
								> .lnb {
									position: absolute;
									top: 0;
									// border: 1px solid #000;

									> li {
										line-height: 1.8;

										> a {
											display: inline-block;
											color: #000;
											font-size: 14px;
											&:hover:after {
												width: 100%;
											}

											&:after {
												width: 0;
												height: 0;
												display: block;
												border-bottom: 1px solid #000;
												content: '';
												transition: all .6s ease;
											}
										}
									}
								} //.lnb
							} //.lnb_wrap
						}
					} //.gnb
					> .logo {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-left: -35px;
						margin-top: -41px;
						width: 70px;
						> a {
							display: block;
							height: 82px;
							text-indent: -9999px;
							background-image: url(./../images/logo_w.png);
							transition: all .6s;
						}
					} //.logo
					> .side {
						display: flex;

						> li {
							width: 21px;
							margin-left: 40px;

							> a {
								display: block;
								height: 25px;

								text-indent: -9999px;
								background-position: center center;
								background-repeat: no-repeat;
								transition: all .5s;
								&.search {
									background-image: url(./../images/ico_search_w.png);
								}
								&.cart {
									background-image: url(./../images/ico_cart_w.png);
								}
								&.user {
									background-image: url(./../images/ico_my_w.png);
								}
							}
						}
					} //.side
				} //.nav_bot_wrap
			} //.nav_bot
		} //nav
	} //header

	> section {
		// position: relative;
		width: 100%;

		> #main {
			width: 100%;

			> .slides {
				position: relative;
				width: 100%;
				height: 950px;
				overflow: hidden;
				> .slides-container {
					position: absolute;

					width: 500%;
					display: flex;

					> a {
						display: block;
						width: calc(100% / 5);

						> img {
							display: block;
							width: 100%;
							height: 100%;
						}
					}
				} //.slides-container
				> a {
					display: block;
					position: absolute;
					top: 50%;

					width: 23px;
					height: 41px;
					text-indent: -9999px;
					&.next {
						right: 100px;
						background-image: url(./../images/arrow_right.png);
					}
					&.prev {
						left: 100px;
						background-image: url(./../images/arrow_left.png);
					}
				} //이전다음
				> .indicator {
					position: absolute;
					left: 50%;

					bottom: 3em;
					display: flex;
					justify-content: space-between;
					width: 120px;
					margin-left: -60px;
					> li {
						width: 12px;
						background-color: rgba(255, 255, 255, 0.397);

						border-radius: 50%;
						&.on {
							background-color: rgba(0, 0, 0, 0.364);
						}
						> a {
							display: block;
							height: 12px;
							text-indent: -9999px;
						}
					}
				} //.indicator
			} //.slides

			> .main_mnu {
				display: flex;
				justify-content: space-between;
				width: 1550px;
				margin: 0 auto;
				padding: 80px 0;
				> a {
					position: relative;
					width: 470px;

					&:hover > span {
						opacity: 1;
					}
					> img {
						display: block;
						width: 470px;
						height: 630px;
					}
					> span {
						position: absolute;
						top: 0;
						display: block;
						opacity: 0;
						width: 470px;
						height: 630px;
						color: #fff;
						font-size: 30px;
						font-weight: 400;

						text-align: center;
						line-height: 630px;
						background-color: rgba(0, 0, 0, 0.29);
						transition: all .5s;
					}
				}
			} //.main_mnu
		} //#main
		> #new {
			position: relative;
			width: 1700px;
			height: 400px;

			margin: 100px auto;

			> h2 {
				height: 30px;
				line-height: 30px;
				font-size: 35px;
				color: #000;
			}
			> .new-indicator {
				position: absolute;
				top: 0;
				left: 200px;
				display: flex;
				height: 30px;
				> li {
					text-align: center;
					margin-right: 10px;
					padding: 5px 10px;
					outline: 1px solid rgba(255, 255, 255, 0);
					transition: all .2s;
					&:hover,
					&.on {
						outline: 1px solid rgb(0, 0, 0);
					}
					> a {
						display: block;
						color: #000;
						font-size: 14px;
					}
				}
			} //.new-indicator

			> .mnu {
				display: none;
				position: absolute;

				top: 50px;
				width: 1700px;
				height: 600px;
				// display: flex;
				justify-content: space-between;

				&.on {
					display: flex;
				}
				> div {
					width: 300px;
					position: relative;
					height: 330px;
					> a {
						position: relative;
						display: block;
						&:hover > img:nth-child(2) {
							opacity: 1;
						}
						> img {
							top: 0;
							position: absolute;
							width: 300px;
							height: 300px;
							display: block;
							transition: all .3s;

							&:nth-child(2) {
								opacity: 0;
							}
						}
					}
					> .title {
						position: absolute;
						bottom: 30px;
						width: 300px;
						color: #000;
						font-size: 16px;
						// height: 20px;
					}
					> .price {
						display: block;
						position: absolute;
						bottom: 0;
						color: #000;
						font-size: 16px;
					}
				} //div
			} //.mnu
		} //#new

		> #week {
			position: relative;
			width: 1700px;
			height: 420px;
			// padding: 50px 0;
			margin: 150px auto;
			// border: 1px solid #000;

			> h2 {
				height: 30px;
				line-height: 30px;
				font-size: 35px;
				color: #000;
			}
			> .week-indicator {
				position: absolute;
				top: 0;
				left: 300px;
				display: flex;
				height: 30px;
				> li {
					text-align: center;
					margin-right: 10px;
					padding: 5px 10px;
					outline: 1px solid rgba(255, 255, 255, 0);
					transition: all .2s;
					&:hover,
					&.on {
						outline: 1px solid rgb(0, 0, 0);
					}
					> a {
						display: block;
						color: #000;
						font-size: 14px;
					}
				}
			} //.week-indicator

			> .mnu {
				display: none;
				position: absolute;

				top: 50px;
				width: 1700px;
				height: 600px;
				// display: flex;
				justify-content: space-between;

				&.on {
					display: flex;
				}
				> div {
					width: 300px;
					position: relative;
					height: 360px;
					> a {
						position: relative;
						display: block;
						&:hover > img:nth-child(2) {
							opacity: 1;
						}
						> img {
							top: 0;
							position: absolute;
							width: 300px;
							height: 300px;
							display: block;
							transition: all .3s;

							&:nth-child(2) {
								opacity: 0;
							}
						}
					}
					> .title {
						position: absolute;
						bottom: 30px;
						width: 300px;
						color: #000;
						font-size: 16px;
						// height: 20px;
					}
					> .price {
						display: block;
						position: absolute;
						bottom: 0;
						color: #000;
						font-size: 16px;
					}
				} //div
			} //.mnu
		} //#week

		> #video {
			text-align: center;
			> iframe {
				border: none;
			}
		}

		> #news {
			width: 1700px;
			margin: 0 auto;
			padding: 100px 0;
			> h2 {
				height: 30px;
				line-height: 30px;
				font-size: 35px;
				color: #000;
			}
			> .news-cont {
				width: 100%;
				display: flex;
				justify-content: space-between;
				> div {
					> a {
						margin-top: 40px;
						display: block;
						> img {
							display: block;
						}
					}
					> p {
						height: 40px;
						color: #000;
						font-size: 22px;
						font-weight: 600;
						line-height: 40px;
					}
				} //div
			} //.news-cont
		} //#news

		> #instagram {
			width: 100%;
			margin: 50px 0;
			> h2 {
				width: 240px;
				margin: 90px auto;
				> a {
					display: block;
					height: 45px;
					text-indent: -9999px;
					background-image: url(./../images/tit_insta.png);
				}
			}
			> .pic-cont {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				width: 1700px;
				height: 750px;
				margin: 0 auto;
				> a {
					display: block;
					width: 270px;
					height: 330px;
					overflow: hidden;
					> img {
						width: 271px;
						height: 351px;
						display: block;
					}
				}
			}
		} //#instagram
	} //section

	> footer {
		display: flex;
		justify-content: space-between;
		width: 1700px;
		margin: 0 auto;
		padding: 50px 0;
		color: #000;
		line-height: 1.6;

		> h3 {
			width: 143px;
			height: 20px;
			text-indent: -9999px;
			background-image: url(./../images/f_logo.png);
			background-size: contain;
		}
		> .address {
			> ul {
				display: flex;
				padding: 10px 0;
				> li {
					margin-right: 20px;
					> a {
						color: #000;
						display: block;
						&:hover {
							color: #00437b;
						}
					}
				}
			} //ul
			> p {
				margin-bottom: 10px;
				> a {
					color: $main_color;
					font-weight: 600;
				}
			}
		} //.address

		> .customer {
			> h4 {
				font-size: 16px;
			}
			> span {
				display: block;
				font-size: 35px;
				font-weight: 600;
			}
			> p {
				> a {
					color: #00437b;
					font-weight: 600;
				}
			}
		} //.customer
		> .information {
			> h4 {
				font-size: 16px;
			}
			> ul {
				margin-top: 10px;
				> li {
					> a {
						color: #000;
						&:hover {
							color: #00437b;
						}
					}
				}
			}
		} //.information
		> .notice {
			position: relative;
			// border: 1px solid #000;
			width: 400px;
			> h4 {
				font-size: 16px;
			}
			> ul {
				margin-top: 10px;
				> li {
					padding: 3px 0;
					border-bottom: 1px solid #ddd;
					> a {
						color: #000;
						display: block;
						&:hover {
							color: #00437b;
						}
					}
				}
			}
			> .more {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				font-size: 10px;
				padding: 3px 8px;
				color: #fff;
				background-color: rgb(123, 123, 123);
				// border: 1px solid #000;
				transition: all .5s;
				&:hover {
					background-color: #00437b;
				}
			}
		} //.notice
	} //footer

	> aside {
		position: absolute;
		top: 20%;
		right: 1px;

		&.on {
			position: fixed;
			top: 40%;
			right: 1px;
		}
		> ul {
			// height: 300px;
			width: 48px;

			background-color: #f4f4f4;
			> li {
				width: 48px;

				&:nth-child(1) > a {
					background-image: url(./../images/ico_1.png);
				}
				&:nth-child(2) > a {
					background-image: url(./../images/ico_2.png);
				}
				&:nth-child(3) > a {
					background-image: url(./../images/ico_3.png);
				}
				&:nth-child(4) > a {
					background-image: url(./../images/ico_4.png);
				}
				&:nth-child(5) > a {
					background-image: url(./../images/ico_5.png);
				}
				&:nth-child(6) > a {
					background-image: url(./../images/ico_talk_naver.png);
				}
				&:nth-child(7) > a {
					background-image: url(./../images/ico_talk_kakao.png);
					background-color: #ffdc00;
				}
				&:nth-child(8) > a {
					height: 33px;
					background-image: url(./../images/ico_up.png);
				}
				&:nth-child(9) > a {
					height: 33px;
					background-image: url(./../images/ico_down.png);
				}
				> a {
					display: block;
					height: 48px;
					text-indent: -9999px;
					background-position: center center;
					background-size: contain;
					border: 1px solid #eee;
				}
			}
		}
	}
} //#wrap
